@use "../base/config" as cnfg;
@use "../base/sizes" as *;

.blue-btn {
  border: 1px solid #177fbd;
  border-radius: cnfg.$border-radius64;
  background-image: linear-gradient(
    21deg,
    #0571b1 10%,
    #1498e7 50%,
    #0571b1 95%
  );
  background-size: 200% auto;
  color: cnfg.$white;
  text-decoration: none;
  transition: background-position cnfg.$transition3;

  &:hover {
    background-position: right center;
  }
}
