// VARIABLES

// colors
$black: #000;
$black2: #161616;
$white: #fff;
$white2: #e4e4e7;
$white3: #f2f2f2;
$light-gray: #a1a1aa;
$light-gray2: #2d2d2d;
$brand-dark: #121212;
$brand-dark-hover: #3e3e3e;
$brand-dark2: #050505;
$brand-blue: #1f87d6;
$brand-blue-hover: #0571b1;
$brand-nora: #eb393a;
$brand-setrix: #ff5e1f;
$brand-streampool: #6725f5;
$brand-analytix: #3cb043;
$brand-norago: #396097;
$brand-nora-hover: #d72627;
$brand-setrix-hover: #eb4a0b;
$brand-streampool-hover: #5311e1;
$brand-analytix-hover: #289c2f;

// font-weight
$font-weight4: 400;
$font-weight5: 500;
$font-weight6: 600;
$font-weight7: 700;

// sizes
$height-header: 75px;

// space
$pad-cont: 0 15px;

// transition
$transition2: 0.2s;
$transition3: 0.3s;

// border-radius
$border-radius6: 6px;
$border-radius15: 15px;
$border-radius64: 64px;
$border-radius50: 50%;
