// VARIABLES

// colors
$white: #fff;
$black: #000;
$brand-dark: #212121;
$brand-dark-hover: #3e3e3e;
$brand-blue: #0a85ce;

// font-weight
$font-weight4: 400;
$font-weight5: 500;
$font-weight7: 700;

// sizes
$height-header: 75px;

// space
$pad-cont: 0 15px;

// transition
$transition2: 0.2s;
$transition3: 0.3s;

// border-radius
$border-radius6: 6px;
$border-radius15: 15px;
$border-radius64: 64px;
$border-radius50: 50%;
