@use "../base/config" as cnfg;
@use "../base/sizes" as *;

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: cnfg.$font-weight4;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.grd-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.show-desktop {
  display: none;

  @include respond-to(desktop) {
    display: block;
  }
}

.show-mobile {
  display: block;

  @include respond-to(desktop) {
    display: none;
  }
}
