@use "../base/config" as cnfg;
@use "../base/sizes" as *;

.dragonfly {
  &-section {
    position: relative;
    padding: 0 20px;
    margin-top: 100px;
  }

  &-inner {
    position: relative;
  }

  &-list {
    display: block;
    overflow: hidden;
    margin: 30px 0 0 -16px;

    @include respond-to(desktop) {
      display: flex;
      margin: 30px -16px 0;
    }
  }

  &-list-item {
    height: auto;
    flex: 1 0 auto;
    color: cnfg.$white;

    &.w-25 {
      width: 25%;
    }

    &.w-33 {
      width: 33%;
    }

    &-content {
      position: relative;
      z-index: 10;
      display: flex;
      height: 100%;
      flex-direction: column;
      padding: 29px 12px 29px 15px;
      border: 1px solid cnfg.$brand-blue;
      border-radius: cnfg.$border-radius15;
      margin: 0 16px;
      background: linear-gradient(
        208deg,
        cnfg.$brand-dark2 2.77%,
        cnfg.$black 96.54%
      );
      gap: 10px;
    }

    &-figure {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    &-title {
      font-size: 18px;
      font-weight: cnfg.$font-weight7;
      line-height: 23px;

      @include respond-to(desktop) {
        &.h50 {
          min-height: 50px;
        }
      }
    }

    &-text {
      font-size: 16px;
      font-weight: cnfg.$font-weight4;
      line-height: 25px;
    }
  }
}

.no-mobile-slider {
  &.dragonfly-list {
    margin: 30px 0 0;

    @include respond-to(mobile-xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    @include respond-to(desktop) {
      margin: 30px -16px 0;
    }
  }

  .dragonfly-list-item {
    width: 100%;

    @include respond-to(mobile-xl) {
      width: calc(50% - 10px);
    }

    @include respond-to(tablet) {
      max-width: 280px;
    }
  }

  .dragonfly-list-item-content {
    margin: 0 0 20px;
  }
}
