// component with adaptive without slider
@use "../base/config" as cnfg;
@use "../base/sizes" as *;

.feature {
  &-section {
    position: relative;
    padding: 0 20px;
    margin: 0 0 100px;

    // .heading-left {
    //   color: inherit;

    //   // TODO: update to global variables
    //   .page-type-nora & span {
    //     background-clip: text;
    //     background-color: cnfg.$brand-nora;
    //     color: cnfg.$brand-nora;
    //   }

    //   .page-type-setrix & span {
    //     background-clip: text;
    //     background-color: cnfg.$brand-setrix;
    //     color: cnfg.$brand-setrix;
    //   }

    //   .page-type-streampool & span {
    //     background-clip: text;
    //     background-color: cnfg.$brand-streampool;
    //     color: cnfg.$brand-streampool;
    //   }

    //   .page-type-analytix & span {
    //     background-clip: text;
    //     background-color: cnfg.$brand-analytix;
    //     color: cnfg.$brand-analytix;
    //   }

    //   .page-type-norago & span {
    //     background-clip: text;
    //     background-color: cnfg.$brand-norago;
    //     color: cnfg.$brand-norago;
    //   }
    // }
  }

  &-head-colored {
    color: var(--color);

    .page-type-norago & {
      border: 0;
      background: linear-gradient(119deg, #fb5657 9%, #27609c 55%, #27609c 90%);
      background-clip: text;
      background-size: 150% auto;
      color: unset;
      -webkit-text-fill-color: transparent;
    }
  }

  &-inner {
    overflow: hidden;
  }

  &-subheading-left {
    max-width: 720px;
    color: cnfg.$white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @include respond-to(desktop) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &-list {
    display: block;
    margin: 30px 0 0 -16px;

    @include respond-to(desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 30px -16px 0;
      row-gap: 20px;
    }
  }

  &-list-item {
    height: auto;
    flex: 1 0 auto;
    color: inherit;

    &.w-25 {
      max-width: 25%;
    }

    &.w-33 {
      width: 33%;
    }

    &-content {
      display: flex;
      height: 100%;
      flex-direction: column;
      padding: 29px 12px 29px 15px;
      border: 1px solid currentcolor;
      border-radius: cnfg.$border-radius15;
      margin: 0 16px;
      gap: 10px;
    }

    &-figure {
      display: flex;
      width: 80px;
      height: 80px;
      justify-content: center;
      margin: 0 auto 20px;
    }

    &-title {
      color: #f2f2f2;
      font-size: 18px;
      font-weight: cnfg.$font-weight7;
      line-height: 23px;

      @include respond-to(desktop) {
        min-height: 50px;
      }
    }

    &-text {
      color: cnfg.$light-gray;
      font-size: 16px;
      font-weight: cnfg.$font-weight4;
      line-height: 25px;

      a {
        color: cnfg.$light-gray;
        text-decoration: underline;
        transition: color cnfg.$transition3;

        &:hover,
        &:active {
          color: cnfg.$white;
          text-decoration: none;
        }
      }
    }
  }
}
