@use "../base/config" as cnfg;
@use "../base/sizes" as *;

.news {
  &-section {
    position: relative;
    padding: 0 20px;
    margin-top: 100px;
  }

  &-list {
    display: block;
    margin: 30px 0 40px -12px;

    @include respond-to(desktop) {
      display: flex;
      margin: 30px -12px 40px;
    }
  }

  &-list-item {
    height: auto;
    flex: 1 0 auto;
    color: inherit;

    &.w-33 {
      width: 33%;
    }

    &-content {
      display: flex;
      height: 100%;
      flex-direction: column;
      padding: 16px 20px;
      border: 1px solid currentcolor;
      border-radius: 15px;
      margin: 0 12px;
      gap: 12px;
    }

    &-figure {
      overflow: hidden;
      border-radius: 15px;
    }

    &-title {
      color: cnfg.$white;
      font-size: 18px;
      font-weight: 600;
    }

    &-text {
      margin-top: auto;
      color: cnfg.$light-gray;
      font-size: 14px;
    }

    &-add {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-category {
      height: 21px;
      padding: 3px 8px;
      background-color: #1c1c1c;
      color: #f2f2f2;
      font-size: 12px;
    }

    &-link {
      width: 56px;
      height: 36px;
      padding: 8px;
      border-radius: cnfg.$border-radius64;
      transition: background cnfg.$transition3;

      .news-section & {
        background-color: currentcolor;
        color: inherit;
      }

      .page-type-norago .news-section &.blue-btn {
        border: 0;
        background: linear-gradient(
          119deg,
          #fb5657 9%,
          #27609c 55%,
          #27609c 90%
        );
        background-size: 150% auto;
        transition: background-position cnfg.$transition3;

        &:hover {
          background: linear-gradient(
            119deg,
            #fb5657 9%,
            #27609c 55%,
            #27609c 90%
          );
          background-position: right center;
          background-size: 150% auto;
        }
      }

      &:not(.page-type-blue .blue-btn) {
        border: 1px solid currentcolor;
        background: currentcolor;
        color: currentcolor;

        &:hover {
          background: var(--hover-color);
        }
      }
    }
  }
}
