@use "../base/config" as cnfg;
@use "../base/sizes" as *;

.lang-switcher {
  position: relative;

  &.show-mobile {
    margin: 55px 20px 20px auto;
  }

  &-toggle,
  &-list {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 9px 24px;
    border: 1px solid #303030;
    border-radius: cnfg.$border-radius64;
    background: #1f1f1f;
    color: cnfg.$white;
    cursor: pointer;
    font-size: 16px;
    font-weight: cnfg.$font-weight7;
    gap: 6px;
    text-transform: uppercase;
  }

  &-toggle {
    width: 167px;

    @include respond-to(desktop) {
      width: unset;
    }
  }

  &-list {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    opacity: 0;
    transform: translateY(0);
    transition:
      opacity cnfg.$transition2 ease-out,
      transform cnfg.$transition2 ease-out;

    li {
      width: 100%;
    }

    .open & {
      z-index: 10;
      opacity: 1;
      transform: translateY(20px);
    }

    a {
      display: flex;
      align-items: center;
      color: cnfg.$white;
      gap: 6px;
      text-decoration: none;
    }
  }

  img {
    width: 15px;
    height: 15px;
    border-radius: cnfg.$border-radius50;
  }

  .chevron-toggle {
    width: 12px;
    height: 9px;
    margin-left: auto;
    transition: transform 0.3s ease;

    @include respond-to(desktop) {
      width: 10px;
      height: 7px;
      margin-left: 0;
    }
  }

  &.open .chevron-toggle {
    transform: rotate(180deg);
  }
}
